.AddPaymentMethod .padding {
    padding: 10rem !important
}

.AddPaymentMethod .form-control:focus {
    box-shadow: 10px 0px 0px 0px #ffffff !important;
    border-color: #4ca746
    
}

.AddPaymentMethod .cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.AddPaymentMethod .visa{background-image:url("../images/visa.png");}
.AddPaymentMethod .mastercard{background-image:url("../images/master.png");}

.AddPaymentMethod .cc-selector input:active +.drinkcard-cc{opacity: .5;}
.AddPaymentMethod .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.AddPaymentMethod .drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100px;height:70px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.AddPaymentMethod .drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
.AddPaymentMethod a:visited{color:#888}
.AddPaymentMethod a{color:#999;text-decoration:none;}
.AddPaymentMethod p{margin-bottom:.3em;}