

.AdminLogin{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }

.AdminLogin  body {
    background: #fbf3ff;
  } 

.AdminLogin .container {
    position: absolute;
    max-width: 950px;
    height: 550px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 

  /* .CustomerLogin  .myRightCtn #LoginI {
    position: relative;
    
  } */

.AdminLogin .myRightCtn {
    position: relative;
   
    background-image: url("./../images/lp.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    border-radius: 0px 25px 25px 0px;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 12px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.AdminLogin .myLeftCtn {
    position: relative;
    background: #fff;
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    padding-left: 50px;
  }
  

.AdminLogin .myLeftCtn header {
    color: #0057d1;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    
  }

.AdminLogin .row{
  height: 100%;
  } 
 
.AdminLogin .myCard {
    position: relative;
    background: #fff;
    height: 100%;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
  } 


.AdminLogin .myRightCtn header {
    color: #fff;
    font-size: 42px;
  }

 
  
.AdminLogin .acc{
      
      margin-left:47px;
      
  }
  
.AdminLogin .fp{
      
      margin-left:45px;
  }
  
.AdminLogin .myLeftCtn .myInput {
    width: 350px;
    border-radius: 15px;
    padding: 12px;
    padding-left: 50px;
    border: none;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
  }


.AdminLogin .myLeftCtn .myInput:focus {
    outline: none;
  } 

.AdminLogin .myForm {
    position: relative;
    margin-top: 50px;
  } 

.AdminLogin .myLeftCtn .butt {
    background: linear-gradient(45deg, #0057d1, #000000);
    color: #fff;
    width: 330px;
    border: none;
    border-radius: 15px;
    padding: 12px;
    margin-left:22px;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
  } 

.AdminLogin .myLeftCtn .butt:hover {
    background: #0057d1;
  }

.AdminLogin .myLeftCtn .butt:focus {
    outline: none;
  }

.AdminLogin .myLeftCtn .fas {
    position: relative;
    color: #0057d1;
    top: 0px;
    left: 36px;
  } 

  .AdminLogin .form-group #eyer {
    position: absolute;
    margin-top: 14px;
    right: 40px;
    cursor: pointer ; }
  
  
  

  .CustomerLogin  #CusLoginError{

    color:red;
    
  }