.ConfirmPay body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #EEEEEE;
    background-repeat: no-repeat
}

.ConfirmPay .card {
    padding: 30px 25px 35px 50px;
    border-radius: 30px;
    box-shadow: 0px 4px 8px 0px #B71C1C;
    margin-top: 50px;
    margin-bottom: 50px
}

.ConfirmPay .border-line {
    border-right: 1px solid #BDBDBD
}

.ConfirmPay .text-sm {
    font-size: 13px
}

.ConfirmPay .text-md {
    font-size: 18px
}

.ConfirmPay .image {
    width: 60px;
    height: 30px
}

.ConfirmPay ::placeholder {
    color: grey;
    opacity: 1
}

.ConfirmPay :-ms-input-placeholder {
    color: grey
}

.ConfirmPay ::-ms-input-placeholder {
    color: grey
}

.ConfirmPay input {
    padding: 2px 0px;
    border: none;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
    margin-top: 2px;
    box-sizing: border-box;
    color: #000;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500
}

.ConfirmPay input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #EF5350;
    outline-width: 0
}

.ConfirmPay button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.ConfirmPay .btn-red {
    background-color: #EF5350;
    color: #fff;
    padding: 8px 25px;
    border-radius: 50px;
    font-size: 18px;
    letter-spacing: 2px;
    border: 2px solid #fff
}

.ConfirmPay .btn-red:hover {
    box-shadow: 0 0 0 2px #EF5350
}

.ConfirmPay .btn-red:focus {
    box-shadow: 0 0 0 2px #EF5350 !important
}

.ConfirmPay .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #EF5350
}

@media screen and (max-width: 575px) {
    .ConfirmPay .border-line {
        border-right: none;
        border-bottom: 1px solid #EEEEEE
    }
}