 
  #btncontact {
      outline: none !important;
      border: none;
  }
  
  
  
  .rev .contact1 {
    width: 100%;
    min-height: 100%;
    padding: 15px;
    
   

    box-shadow: cornflowerblue;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .rev .container-contact1 {
    width: 70%;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px 40px 10px 0px;
    /* box-shadow: 2px 2px 2px 2px #dcdcdc; */
    box-shadow: 0 0 5pt 0.5pt #a6a6b6;
  }
  
  .rev .img3{
    width: 100%;
    height: 100%;
  }
  
  .rev .contact1-form {
    width: 100%;
    
    padding-left: 15px;
  }
  
  .rev .contact1-form-title {
    display: block;
    font-family: Montserrat-ExtraBold;
    font-size: 26px;
    color: #191919;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
    font-style: strong;
  }
  .rev .contact1-form-title2 {
    display: block;
    font-family: Arial;
    font-size: 14px;
    color: #191919;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 50px;
  }
  
  .rev .input1 {
    height: 50px;
    border-radius: 20px;
    padding: 0 30px;
    outline: none;
      border: none;
  }
  .rev .input1 + .shadow-input1 {
    border-radius: 20px;
  
    box-shadow: 0 0 5pt 0.5pt #a6a6b6;
  }
  
  .rev .textarea1 {
    min-height: 150px;
    border-radius: 20px;
    padding: 12px 30px;
    outline: none;
      border: none;
  }
  .rev .textarea1 + .shadow-textarea1 {
    border-radius: 20px;
    
    box-shadow: 0 0 5pt 0.5pt #a6a6b6;
  }
  
.rev   .wrap-textarea1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
    
  }
  
  .rev .textarea1 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    
    box-shadow: 0 0 5pt 0.5pt #a6a6b6;
  }
  
  .rev .shadow-textarea1 {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.5);
  }
  
  .rev .textarea1:focus + .shadow-textarea1 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
  }

  


.rev   .wrap-input1 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
  }
  
  .rev .input1 {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
  }
  
  .rev .shadow-input1 {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.5);
  }
  
  .rev .input1:focus + .shadow-input1 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
  }
  
  @-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 80px 30px;
      opacity: 0;
    }
  }
  
  @keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 80px 30px;
      opacity: 0;
    }
  }
  
  .rev .container-contact1-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    outline: none !important;
      border: none;
      background: transparent;
  }
  
  .rev .contact1-form-btn {
    min-width: 50%;
    height: 50px;
    border-radius: 25px;
    background: #0057d1;
    font-family: Montserrat-Bold;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20 25px;
  
    box-shadow: 0 0 5pt 0.5pt #7d72e0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    
  }
  
  .rev .contact1-form-btn i {
    margin-left: 0px;
    outline: none !important;
    border: none;
    background: transparent;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .rev .contact1-form-btn:hover {
    background: #333333;
    
  }
  
  .rev .contact1-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }

  
  @media (max-width: 1200px) {
    .rev .contact1-pic {
      width: 20%;
    }
  
    .rev .contact1-form {
      width: 44%;
    }
  }
  
  @media (max-width: 992px) {
    .rev .container-contact1 {
      padding: 90px 80px 88px 90px;
    }
  
    .rev .contact1-pic {
      width: 25%;
    }
  
    .rev .contact1-form {
      width: 55%;
    }
  }
  
  @media (max-width: 768px) {
    .rev .container-contact1 {
      padding: 90px 80px 88px 80px;
    }
  
    .rev .contact1-pic {
      display: none;
    }
  
    .rev .contact1-form {
      width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .rev .container-contact1 {
      padding: 90px 15px 88px 15px;
    }
  }
  
  
  
  .rev .validate-input {
    position: relative;
  }
  
  .rev .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
  
    font-family: Montserrat-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
  
    visibility: hidden;
    opacity: 0;
  
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
  
  .rev .alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
  }
  
  .rev .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }
  
  @media (max-width: 992px) {
    .rev .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }
  
  
  