.CuseDetails {
    background-color: #f9f9fa;
   

}

.CuseDetails .user-card-full {
    overflow: hidden;
   
  
    
}

.CuseDetails .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 40px;
    margin-top: 40px;
    width:680px;
    height: 420px;
    
  
   
}

.CuseDetails .m-r-0 {
    margin-right: 0px
}

.CuseDetails .m-l-0 {
    margin-left: 0px
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px
}

.CuseDetails .bg-c-lite-green {
  
    background: linear-gradient(to right, #0d0b5c, #013cff)
}

.CuseDetails .user-profile {
    padding: 20px 0; 
   
   
}

.CuseDetails .card-block {
    padding: 1.25rem;
    height: 420px;
    
}

.CuseDetails .m-b-25 {
    margin-bottom: 25px
}

.CuseDetails .img-radius {
    border-radius: 5px
}

.CuseDetails #h6 {
    font-size: 14px
}

.CuseDetails .card .card-block #p {
    line-height: 25px
}

.CuseDetails .btnCancel {background-image: linear-gradient(to right, #0057d1 0%, #0f12da  51%, #0057d1  100%)}
.CuseDetails .btnCancel {
   
   margin-left: 320px;
   padding: 0;
   width: 100px;
   height:45px;
   font-size: 18px;
   text-align: center;
   cursor: pointer;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   border: none;
   margin-bottom: 10px;
  
 }

 .CuseDetails .btnCancel:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

@media only screen and (min-width: 1400px) {
    .CuseDetails    #p {
        font-size: 14px
    }
}

.CuseDetails .card-block {
    padding: 1.25rem
}

.CuseDetails .b-b-default {
    border-bottom: 1px solid #e0e0e0
}

.CuseDetails .m-b-20 {
    margin-bottom: 20px;
}

.CuseDetails .p-b-5 {
    padding-bottom: 5px !important
}

.CuseDetails .card .card-block p {
    line-height: 25px;
}

.CuseDetails .m-b-10 {
    margin-bottom: 25px;
    color: black !important;
}

.CuseDetails .text-muted {
    color: #6d6c6c !important;
    margin-bottom: 25px !important;
}

.CuseDetails .b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.CuseDetails .f-w-600 {
    font-weight: 600;
}


.CuseDetails .m-t-40 {
    margin-top: 20px;
}

 .CuseDetails .p-b-5 {
    padding-bottom: 5px !important;
}


