.Selectpay body {
    background-color: #526891
}

.Selectpay .card {
    border: none;
    border-radius: 8px;
    box-shadow: 5px 6px 6px 2px #2f5377
}

.Selectpay .heading {
    font-size: 23px;
    font-weight: 00
}

.Selectpay .text {
    font-size: 16px;
    font-weight: 500;
    color: #b1b6bd
}

.Selectpay .pricing {
    border: 2px solid #304FFE;
    background-color: #1e2f66
}

.Selectpay .business {
    font-size: 20px;
    font-weight: 500
}

.Selectpay .plan {
    color: #aba4a4
}

.Selectpay .dollar {
    font-size: 16px;
    color: #6b6b6f
}

.Selectpay .amount {
    font-size: 50px;
    font-weight: 500
}

.Selectpay .year {
    font-size: 20px;
    color: #6b6b6f;
    margin-top: 19px
}

.Selectpay .detail {
    font-size: 22px;
    font-weight: 500
}

.Selectpay .cvv {
    height: 44px;
    width: 73px;
    border: 2px solid #eee
}

.Selectpay .cvv:focus {
    box-shadow: none;
    border: 2px solid #304FFE
}

.Selectpay .email-text {
    height: 55px;
    border: 2px solid #eee
}

.Selectpay .email-text:focus {
    box-shadow: none;
    border: 2px solid #304FFE
}

.Selectpay .payment-button {
    height: 70px;
    font-size: 20px
}