@charset "uft-8";
.sellerregistration .form-control{
    width  : 500px;
    padding-left: 10px;
    padding-right: 20px;
}

.sellerregistration p{
    padding-right: 300px;
    text-align: right;
}

.sellerregistration .container-size{
    width : 500px;
}

.sellerregistration #sellerReq{

    margin-left:75px;
    margin-top: 20px;
    margin-bottom: 20px;
}