.CusUpdatePro {
	
	background:rgb(255, 255, 255);
  
	
}

.CusUpdatePro  .profile-area{
	
	
	margin-left:130px;
	padding-right:80px;
	padding-top:80px;
	padding-bottom:80px;

}

.CusUpdatePro .cardUpdatePro{
	
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
	overflow:hidden;
	width:1100px;
}

.CusUpdatePro .CusEditI #cuseditI{
	

  height:500px;
	width:100%;
	
	
}

.CusUpdatePro .UserProImage #userproI{
	
	position: relative;
	display:block;
	margin-left:auto;
	margin-right:auto;
	z-index: 1;
	width:300px;
	height:300px;
	border-radius:50%;
	border: 7px solid #fff;
	margin-top:20px;
  
	
	
	
}

.CusUpdatePro .cardUpdatePro:hover .UserProImage #userproI{
	
	border-color: rgba(0, 0, 0, 0.863);
	transition: .7s;
}

.CusUpdatePro .main-text{
	
	padding-left:80px;
	padding-right:80px;
	padding-bottom:50px;
	padding-top:50px;
	text-align:left;
}



.CusUpdatePro .btnUpdate {
   
     width: 170px;
     height: 45px;
     margin-top: 40px;
     text-align: center;
     margin-left: 180px;
     background-color: rgb(11, 7, 245);
     cursor: pointer;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
     font-size: 22px;
     border:none;
}

.CusUpdatePro .btnUpdate:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
 
  .CusUpdatePro .btnDelete {background-image: linear-gradient(to right, #870000 0%, #190A05  51%, #870000  100%)}
  .CusUpdatePro  .btnDelete {
    
     width: 170px;
     height: 45px;
     margin-top: 40px;
     text-align: center;
     cursor: pointer;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
     display: block;
     font-size: 22px;
     border:none;
     margin-left: 100px;
   }

   .CusUpdatePro .btnDelete:hover {
     background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
   }
  

  
  
 
    
.CusUpdatePro  .form-control{
      
      border-radius:5px; 
      border: 1px solid black;
      
      
  }
  
  
.CusUpdatePro  .form-group {
    position: relative; }
    
.CusUpdatePro .form-group i {
      position: absolute;
      bottom: 4px;
      right: 15px; }

.CusUpdatePro  .form-group #eyerx {
      position: absolute;
      bottom: 2px;
      right: 40px;
      cursor: pointer ; }  
      
.CusUpdatePro  .CusChangeP{

    color: black;
}

.CusUpdatePro  #CusDOB{

  color: black;
  font-weight: bold;
}

.CusUpdatePro  #CusI{

  color: black;
  font-weight: bold;
}

.CusUpdatePro .CusAccountD{

  color: black;
  font-weight: bold;
}

.CusUpdatePro .top-leftI {
  position: absolute;
  top: 30px;
  left:50px;
  color: #fff;
  font-size: 60px;
  font-weight: bold;
 
}




  /* //responsive */

