.CusUpdatePro .wrapperr {
   
    height:1300px !important;
    background-size: cover;
    background-repeat: no-repeat;
  
    
    }
  
.CusUpdatePro  .innerr {

    padding: 20px;
    background: #fff;
    width: 1280px;
    height:1250px !important;
    margin: auto;
    display: flex;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.CusUpdatePro .innerr .image-holder {
      display: flex !important;
      width: 50% !important;
    }

.CusUpdatePro .innerr form {
      width: 50%;
      padding-top: 36px;
      padding-left: 45px;
      padding-right: 45px; }
     
.CusUpdatePro .innerr #updateEd {
      
      text-transform: capitalize;
      font-size: 45px;
      font-family: "Poppins-SemiBold";
      text-align: left;
      margin-bottom: 28px; }
      
      
.CusUpdatePro #updateImg {
  max-width: 100% !important ;}	      
    
.CusUpdatePro .btn{
      
    border: 1px; 
    width: 170px;
    height: 45px;
    margin: auto;
    border-radius:10px;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #0057d1;
    font-size: 15px;
    color: #fff;
  }
  
  
    
.CusUpdatePro  .form-control{
      
      border-radius:5px; 
      border: 1px solid black;
      
      
  }
  
  
.CusUpdatePro  .form-group {
    position: relative; }
    
.CusUpdatePro .form-group i {
      position: absolute;
      bottom: 4px;
      right: 15px; }

.CusUpdatePro  .form-group #eyerx {
      position: absolute;
      bottom: 2px;
      right: 40px;
      cursor: pointer ; }      
      

  /* //responsive */

