.CustomerPro .Wraperrr{
    
    font-family:Arial;
    text-align: left;
       
}
.CustomerPro .mainb {
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    
}
.CustomerPro .cardx {

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.CustomerPro .cardx {

    position: relative;
    display: flex;
    flex-direction: column;
    height: 510px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;

    
}

.CustomerPro .cardb {

    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    
}

.CustomerPro .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.CustomerPro .gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.CustomerPro  .mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.CustomerPro .bg-gray-300 {
    background-color: #e2e8f0;
}

.CustomerPro .h-100 {
    height: 100%!important;
}
.CustomerPro .shadow-none {
    box-shadow: none!important;
}

.CustomerPro .btnedit {background-image: linear-gradient(to right, #0057d1 0%, #0f12da  51%, #0057d1  100%)}
.CustomerPro .btnedit {
   

    margin-top: 3px;
   margin-left: 250px;
   padding: 0;
   width: 160px;
   height: 50px;
   font-size: 22px;
   text-align: center;
   cursor: pointer;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   border: none;
   display: block;
 }

 .CustomerPro .btnedit:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }



.CustomerPro .details{
	
	font-size:30px;
	font-weight: bold;
	text-align:center;
    margin-top: 10px;
    margin-bottom: 50px;
    color: black;
	
}



.CustomerPro .row1{
   display: flex;
    }


.CustomerPro #CusfullN{

    color:rgb(0, 0, 0) !important;

}

.CustomerPro #CususerN{

    color:rgb(0, 0, 0) !important;

}

.CustomerPro #CusE{

    color:rgb(0, 0, 0) !important;

}

.CustomerPro  #custextS{

    color:rgb(87, 87, 87) !important;
    font-size: 17px;
}