.ViewCard body {
    background-color: #eee
}

.ViewCard .height-100 {
    height: 100vh
}

.ViewCard .card {
    border: none;
    width: 500px;
    border-radius: 12px;
    color: #fff;
    background-image: linear-gradient(to right top, #690e91, #910780, #a3026b, #d30568, #fa1258)
}

.ViewCard .number span {
    font-size: 20px;
    font-weight: 600
}

.ViewCard .cardholder,
.ViewCard .expires {
    font-weight: 600;
    font-size: 17px
}

.ViewCard .name,
.ViewCard .date {
    font-size: 15px
}

.ViewCard .card-border {
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    border: none;
    border-radius: 6px;
    background-color: blue;
    color: #fff;
    background-image: linear-gradient(to right top, #0c0537, #440b51, #7f005d, #b9005b, #eb124b)
}